<div class="container">
    <h1>{{title}}</h1>

    <div class="input-group">
        <input type="text" [(ngModel)]="task.name" (keydown.enter)="onAddClick()" placeholder="Enter task">
        <button type="button" class="primary" (click)="onAddClick()">+</button>
    </div>
        
    <span (click)="onRemoveAllClick()">Remove All</span>&nbsp;
    <span>Task Count: {{taskList.length}}</span>

    <p *ngIf="taskList.length === limit">Maximum active task limit reached</p>

    <ul>
        <li *ngFor="let task of taskList; let i = index">
            {{task.name}}
            <button type="button" class="cancel" (click)="onRemoveClick(i)">x</button>
            <span>{{task.date | date: 'medium'}}</span>
    </ul>
