.container {
    margin: 0 auto;
    padding: 10px 20px;

}
h1 {
    color: #e84393;
    font-size: 2rem;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    font-size: 1rem;
    border: 1px solid #b2bec3;
    border-bottom: none;
    padding: 15px;
}
ul li:last-child {
    border-bottom: 1px solid #b2bec3;
}
ul li button {
    float: right;
    margin-top: 5px;
}
ul li span {
    margin-top: 2px;
    display: block;
}
span {
    font-size: 0.7rem;
}
.input-group {
    margin-bottom: 10px;
}
.input-group input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    width: 80%;
    height: 50px;
    background-color: #b2bec3;
    border: none;
    padding: 0 10px;
    outline-color: #e84393;
    box-sizing: border-box;
}
.input-group button {
    width: 20%;
    height: 50px;
}
button {
    font-size: 1rem;
    background-color: #2d3436;
    color: #fff;
    border: none;
    padding: 10px 20px;
}
button:hover {
    background-color: #636e72;
}
button.primary {
    background-color: #e84393;
    
}
button.primary:hover {
    background-color: #fd79a8;
}
button.cancel {
    border-radius: 50px;
    background-color: #636e72;
    padding: 0px 8px 3px;
}
button.cancel:hover {
    background-color: #2d3436;
}